<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <p class="title">Create book</p>

    <form id="create-form" th:action="@{/book/create}" th:method="post" action="create.html">
        <div class = "new-field">
            <label>title </label>
            <input class="title-input" type="text" name="title"/>
        </div>

        <div class = "new-field">
            <label>author </label>
            <input class="author-input" type="text" name="author"/>
        </div>

        <div class = "new-field">
            <label>genre </label>
            <input class="genre-input" type="text" name="genre"/>
        </div>

        <div class = "new-field">
            <button class = "cancel-button"><a th:href="@{/book/list}" href="list.html">cancel</a></button>
            <button id = "create-book" class="change-book-button" type="submit">create</button>
        </div>
    </form>
</body>
</html>