<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <p class="title" th:if="${book!=''}">Edit book</p>
    <p class="title" th:if="${book==''}">Create book</p>

    <form id="create-form" th:method="post" action="create.html">
        <div class = "new-field">
            <label>title </label>
            <input class="title-input" type="text" name="title" th:if="${book==''}"/>
            <input class="title-input" type="text" name="title" th:if="${book!=''}" th:placeholder="${book.title}"/>
        </div>

        <div class = "new-field">
            <label>author </label>
            <input type="text" name="author" class="author-input" th:if="${book==''}"/>
            <input type="text" name="author" class="author-input" th:if="${book!=''}" th:placeholder="${book.author}"/>
            <select id="author-select">
                <option th:each="author : ${authors}" th:text="${author}">author</option>
            </select>
        </div>

        <div class = "new-field">
            <label>genre </label>
            <input type="text" name="genre" class="genre-input" th:if="${book==''}"/>
            <input type="text" name="genre" class="genre-input" th:if="${book!=''}" th:placeholder="${book.genre}"/>
            <select id="genre-select">
                <option th:each="genre : ${genres}" th:text="${genre}">genre</option>
            </select>
        </div>

        <div class = "new-field">
            <button class = "cancel-button"><a th:href="@{/book/list}" href="list.html">cancel</a></button>
            <button id = "create-book" class="change-book-button" th:formaction="@{/book/create}" th:if="${book==''}" type="submit">create</button>
            <button id = "edit-book" class="change-book-button" th:formaction="@{/book/{id}/edit(id=${book.id})}" th:if="${book!=''}" type="submit">edit</button>
        </div>
    </form>
    <script th:src="@{/js/main.js}" defer></script>
</body>
</html>