table {
    margin-left: 25px;
}

th, td {
    border: 1px solid grey;
    font-size: 25px;
}

td:hover {
    background-color: darkgray;
    border: 1px solid black;
    cursor: pointer;
}

input {
    font-size: 25px;
}

#edit {
    background-color: darkgreen
}

#del {
    background-color: red;
}

#create-button {
    font-size: 40px;
    margin-left: 150px;
    margin-top: 20px;
}

.title {
    color: #ff0000;
    font-size: 50px;
    margin-bottom: 100px;
    margin-top: 70px;
    text-align: center;
}

.title-input {
    margin-left: 32px;
}

.author-input {
    margin-left: 10px;
}

.genre-input {
    margin-left: 19px;
}

.cancel-button {
    background-color: red;
    font-size: 30px;
}

.change-book-button {
    background-color: darkgreen;
    font-size: 30px;
    margin-left: 160px;
    width: 100px;
}

.new-field {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.error {
    color: red;
    font-size: 40px;
}